  
  .container {
    margin: auto;
    max-width: 100%;
  }
  
  .headerContainer {
    height: 80px;
    width: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 50px 0 100px; */
    flex-wrap: wrap;
    /* font-family: "Poppins", sans-serif; */
  }
  
  .logo {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    /* font-family: "Poppins", sans-serif; */
  }
  
  .navbar {
    float: right;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    margin: 0;
  }
  .nav-item{
    margin-bottom: 0 !important;
  }
  
  .nav-link-item {
    padding: 10px;
    margin-bottom: 0;

  }
  
  .nav-link-text {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all .3s ease;
  }
  
  .nav-link-text:hover {
    color: #111;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all .3s ease;
    background-color: #18eada;
  }
  
  .buy-ticket {
    color: #111;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all .3s ease;
    background-color: #18eada;
  }
  
  .footer-container {
    background-color: #000;
    color: #fff;
    width: 100%;
    max-width: 100%;
  }
  
  .footer-left-para {
    display: block;
    margin-top: 25px;
  }
  
  .footer-right-a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    line-height: 150%;
    pointer-events: auto;
  }

  .footer-right-a:hover{
    text-decoration: none;
    color: #fff;

  }
  
  .navbar-brand {
    font-size: 35px !important;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
  }

  nav {
    width: 100%;
    justify-content: space-between !important;
  }

  .nav-item {
    font-size: 19px !important;
    margin-right: 5px;
  }

  .wrapper {
    width: 100%;
    max-width: 90%;
    /* background-color: #000; */
    margin: 0 auto;
  }

  .header-container {
    width: 100%;
    max-width: 100%;
    height: 80px;
    background-color: #000 !important;
  }

  @media screen and (max-width: 990px) {
    
    .navbar-nav{
      background-color: #fff;
    }
    .nav-link-item {
      padding: 10px;
      margin-bottom: 0;
      width: 100%;
      /* margin-left: -100%; */
      display: block;
      font-size: 20px;
      transition: .6s cubic-bezier(.68, -.55, .265, 1.55);

    }
    .nav-link-text{
      color: #000 ;

    }
  
    .buy-ticket {
      color: #0ff;
      background-color: transparent;
    }
    .navbar-menu {
      position: absolute;
      background-color: #000;
      z-index: 1;
      -moz-transition:all 200ms ease-in;
      -webkit-transition:all 200ms ease-in;
      -o-transition:all 200ms ease-in;
      transition:all 200ms ease-in;
      margin: 5px 0;
      right: 0;
    }

    .nav-item {
      width: 100%;
      text-align: center;
      padding: 20px 0;
    }
  }